.destination {
  margin-top: 4vh;
  margin-bottom: 0.5vh;
  height: 14vh;
  flex-direction: row;
  display: flex;
  width: 47vw;
}

.title {
  font-size: 7.5vw;
  font-weight: 600;
  line-height: 1;
  width: 17vw;
  text-align: right;
  margin-right: 2;
}

.first {
  font-size: 7.5vw;
  font-weight: 600;
  line-height: 0.9;
  text-align: right;
  width: 18vw;
}

.next {
  font-size: 3vw;
  font-weight: 600;
  line-height: 1.5;
  text-align: right;
  margin-top: -1vh;
  width: 10vw;
}
