.app {
  background-color: #000;
  color: #ffffff;
  text-shadow: 0 0 2vh hsla(0, 0%, 0%, 0.61), 0 0 20px rgba(0, 0, 0, 0);
}

.top {
  height: 54vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  justify-content: center;
}

.bottom {
  flex: row;
  display: flex;
  height: 40vh;
  padding-top: 1vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}
